<script type="text/javascript">
		function add_clicked() {
			var options = document.f.globalfoods.options;
			for (var i = 0; i < options.length; i++) {
				if (options[i].selected) {
					// now checkk if we've already added it
					var chosen = document.f.foodchoices.options;
					var found = false;
					for (var j = 0; j < chosen.length; j++) {
						if (chosen[j].value === options[i].value) {
							found = true;
							break;
						}
					}
					if (!found) {
						var opt = document.createElement("option");
						opt.text = options[i].text;
						opt.value = options[i].value;
						chosen.add(opt);
					}
				}
			}
		}
		
		function remove_clicked() {
			var chosen = document.f.foodchoices.options;
			var index = 0;
			while (index < chosen.length) {
				if (chosen[index].selected) {
					chosen.remove(index);
				}
				else
					index++;
			}
		}
		
		function submit_clicked() {
			var val = "";
			var options = document.f.foodchoices.options;
			for (var i = 0; i < options.length; i++) {
				if (i != 0)
					val += ",";
				val += options[i].value;
			}
			document.f.foods.value = val;
		}
		
		 /*$(document).ready(function(){
  		 	var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities".split(" ");
  		 	alert('ehh');
			$("#customtext").autocomplete(data);
			alert("Autocomplete");
 	 	});*/
	</script>
	<div class="page-header">
		<h1>Choose your foods</h1>
	</div>
	<form name="f" method="post" action="edit">
		<% if (errors.length > 0) { %>
		<div class="alert-message block-message error">
		<p><strong>There were some errors</strong>
			<ul>
			<% for (var i = 0; i < errors.length; i++) { %>
				<li><%= errors[i] %></li>
			<% } %>
			</ul>
		</p>
		</div>
		<% } %>
		<label for="name">What's your name:</label>
		<div class="input">
			<input class="xlarge span5" type="text" id="name" name="name" value="<%= username %>" />
		</div>
		</p>
		<label for="globalfoods">Choose your favorite foods:</label>
		<div class="input">
			<select class="span5" multiple id="globalfoods" name="globalfoods" size="15">
				<% for (var i = 0; i < globalfoods.length; i++) { %>
				<option value="<%= globalfoods[i].name %>"><%= globalfoods[i].name %></option>
				<% } %>
			</select>
		</div>
		<div class="input">
			<input type="button" value="Add" name="add" onclick="add_clicked()" class="btn" />
			<input type="button" value="Remove" name="remove" onclick="remove_clicked()" class="btn" />
		</div>
		<label for="foodchoices">Your selected foods:</label>
		<div class="input">
			<select class="span5" multiple id="foodchoices" name="foodchoices" size="10">
				<% for (var i = 0; i < userfoods.length; i++) { %>
					<option name="foodchoices" value="<%= userfoods[i] %>"><%= userfoods[i] %></option>
				<% } %>
			</select>
		</div>
		<label for="customtext">Type your own choices:</label>
		<div class="input">
			<input id="customtext" />
		</div>
		<input type="hidden" name="email" value="<%= email %>"/><br />
		<input type="hidden" name="foods" />
		<div class="input">
			<input class="btn primary" type="submit" value="Submit" onclick="submit_clicked()" />
		</div>
	</form>
