<script type="text/javascript">

		function addCustom() {
			var val = $("#customtext").val();
			if (val.length > 0) {
				// now checkk if we've already added it
				if ($.inArray(val, chosenFoods) == -1) {
					chosenFoods.push(val);
					$("#selectedfoods").append("<li>" + val + "</li>");
				}
			}
		}
		function add_clicked() {
			var options = document.f.globalfoods.options;
			for (var i = 0; i < options.length; i++) {
				if (options[i].selected) {
					// now checkk if we've already added it
					var chosen = document.f.foodchoices.options;
					var found = false;
					for (var j = 0; j < chosen.length; j++) {
						if (chosen[j].value === options[i].value) {
							found = true;
							break;
						}
					}
					if (!found) {
						var opt = document.createElement("option");
						opt.text = options[i].text;
						opt.value = options[i].value;
						chosen.add(opt);
					}
				}
			}
		}
		
		function remove_clicked() {
			var chosen = document.f.foodchoices.options;
			var index = 0;
			while (index < chosen.length) {
				if (chosen[index].selected) {
					chosen.remove(index);
				}
				else
					index++;
			}
		}
		
		var chosenFoods = <%- JSON.stringify(userfoods) %>;
		
		function submit_clicked() {
			document.f.foods.value = chosenFoods.join(',');
		}
		
		function suggestFoods() {
			$.get('/autocomplete', {query : $("#customtext").val()}, function(data) {
				var html = "<p>No matches found</p>";
				var foods = JSON.parse(data);
				if (foods.length != 0) {
					html = "<p>Matches:</p><ul><li>" + foods.join('</li><li>') + "</li></ul>";
				}
				$('#suggestedfoods').html(html);
			});
		}
		
	</script>
	<div class="page-header">
		<h1>Choose your foods</h1>
	</div>
	<form name="f" method="post" action="edit" class="form-stacked">
		<% if (errors.length > 0) { %>
		<div class="alert-message block-message error">
		<p><strong>There were some errors</strong>
			<ul>
			<% for (var i = 0; i < errors.length; i++) { %>
				<li><%= errors[i] %></li>
			<% } %>
			</ul>
		</p>
		</div>
		<% } %>
		<div class="row">
			<div class="span8">
				<label for="name">What's your name:</label>
				<div>
					<input class="xlarge span5" type="text" id="name" name="name" value="<%= username %>" />
				</div>
				<label for="customtext">Type your own choices:</label>
				<div>
					<input type="text" id="customtext" class="xlarge span5" onkeyup="suggestFoods()" autocomplete="off" />
					<input type="button" class="btn" value="Add" id="addcustom" onclick="addCustom()" />
				</div>
				<div id="suggestedfoods" style="height: 16em">
					<p>No matches found</p>
				</div>
			</div>
			<div class="span7">
				<p>Your selected foods:</p>
				<ul id="selectedfoods">
						<% for (var i = 0; i < userfoods.length; i++) { %>
							<li><%= userfoods[i] %></li>
						<% } %>
				</ul><br />
				<input type="button" value="Remove" name="remove" onclick="remove_clicked()" class="btn" />
			</div>
		</div>
		<div class="row">
			<div class="span16">
					<label><input type="checkbox" name="meals" value="breakfast" />Breakfast</label>
					<label><input type="checkbox" name="meals" value="lunch" />Lunch</label>
					<label><input type="checkbox" name="meals" value="dinner" />Dinner</label>
				<input type="hidden" name="email" value="<%= email %>"/>
				<input type="hidden" name="foods" />
				<div>
					<input class="btn primary" type="submit" value="Submit" onclick="submit_clicked()" />
				</div>
			</div>
		</div>
	</form>
